//COLOR
$primaryColor: #005fff;
$primaryColorAlpha: #005fff1a;
$black: #000;
$white: #f9f9f9;
$lightWhite: #fff;
$gray: #ddd;
//PADDING
$PS: 5px;
$PM: 10px;
$PL: 15px;
$PXL: 25px;
//MARGIN
$MS: 5px;
$MM: 10px;
$ML: 15px;
$MXL: 25px;